/* modelo de caixa*/ 

body{
    background-color: #f4f4f4;
}
.conteudo{    /*para declarar a classe usa-se PONTO! */
    border: 1px solid red;
    padding-top: 20px;   /* os padding dao uma distancia interna da caixa, adicionando os px*/
    padding-right: 20px;    
    padding-left: 20px;  
    padding-bottom: 20px; 
    width: 150px ;  /* largura da caixa + os padding adicionado */
    
    /* padding: 20px 20px 20px 20px;  /* espaçamento interno em todas as bordas: Superior direita baixo esquerda (sentido horário)*/

    /* padding: 20px /* padding de 20px em todas as bordas */

    /* margin-top: 20px;  /* espaçamento externo */
    /*margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;  */

    margin: 0.52%;  /* espaçamento externo em todas as bordas, como no padding acima */
}

.layout{
    border: 1px solid red;
    background: grey;
    padding: 30px;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.float{  /* usar caixa/elemento flutuante */
    border: 1px solid red;
    background: greenyellow;
    padding: 30px;
    width: 150px;
    height: 150px;
    margin: 10px;
    
    float: right ;  /*pode usar left, right, none*/
}
.clear{

    clear: both;  /*pode usar left, right, none, both*/;
}
.noticia{
    border: 1px solid rgb(66, 199, 33);
    background-color: rgb(177, 98, 98);
    padding: 5px;   /* distancia interna do container */
    width: 280px;   /* largura do container */  
    margin: 7px;    /* distância externa do container */
    float: left;    /* cria elemento flutuante à esquerda */
}
.principal{
    border: 1px solid blue;
    width: 920px;  /*largura do container*/
}
.fotos{
    border: 2px solid goldenrod;
    background: rgb(109, 35, 109);
    width: 280px;
    padding: 5px;
    float: left;
    margin: 5px;
}