body{
	background: #D2D2C1 url('imagens/fundo.png');   /* todas as configs abaixo em somente 1 linha de código (cor de fundo, end da imagem, se repete, fixo ou scroll, e posicao) */
	font: 16px Arial, Helvetica, sans-serif;  /* define fonte padrão do body:  tamanho, 1º fonte, 2ª caso nao tenha a 1ª e 3ª se nao tiver as anteriores */
}
a{     /*todos os links do site terão essa formatação */
	color: #4B566A ;
	text-decoration: none;
	font-weight: bold;
	border: 0px solid blue;
	padding: 5%;
}
h1{
	color: #828271;
	font-size: 1.2em; /* com a fonte definida no body, o EM é uma proporção dele */
}
#principal{
	border: 0px solid red;  /* faz uma tabela de borda 1px, linha vermelha */
	width: 900px; 			/* largura do container PRINCIPAL */
}
#menu{
	background: #C5C5B2;
	border: 0px solid blue;
	padding: 3%;  /*aplica um espaçamento interno. Para dar a distância desejada. Pode ser em px ou %*/
}
#conteudo{
	background: #E8E8D9;
	padding: 1%;
}
#rodape{
	/*background: #E8E8D9;*/
}
.centralizar{
	font-weight: bold;
	text-align: center;
}
.imagem{
	border: 10px solid #C3C3AE; /*qnd se usa border, se especifica 3 elementos:  espessura, tipo (pesquisar por border style) e cor */
}